<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>shoeKart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="#" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>shoeKart</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <!-- <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div> -->
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/orderList" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Back To Order</a>
                    <!-- <div class="nav-item dropdown"> -->
                                               
                        <!-- <div class="dropdown-menu bg-transparent border-0">
                            <a href="button.html" class="dropdown-item">Buttons</a>
                            <a href="typography.html" class="dropdown-item">Typography</a>
                            <a href="element.html" class="dropdown-item active">Other Elements</a>
                        </div> -->
                    <!-- </div> -->
                    <!-- <a href="#" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Banner</a> 
                    <a href="/admin/users" class="nav-item nav-link"><i class="fa fa-th me-2"></i>user</a>
                    <a href="/category" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Category</a>
                    <a href="/products" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Products</a>
                    <a href="/admin/coupon" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Coupon</a>
                    <a href="/admin/orderList" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>ORDER</a> -->

                    <div class="nav-item dropdown">
                        <!-- <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a> -->
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <!-- <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a> -->
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <!-- <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a> -->
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                                <!-- <a href="#" class="dropdown-item">Settings</a> -->
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->



            <div class="container-fluid ">

              <div class="container ">
                <!-- Title -->
                <div class="d-flex justify-content-between align-items-center py-3 pt-5">
                  <h1 class="h5 mb-0"><a href="#" class="text-muted"></a> Order # <%=users._id%></h1>
                </div>
              
                <!-- Main content -->
                <div class="row ">
                  <div class="col-lg-8 ">
                    <!-- Details -->
                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                          <div> 
                            <span class="me-3 text-dark"><%=users.createdAt%></span> &nbsp;&nbsp;&nbsp;
                            <!-- <span class="me-3">#16123222</span>
                            <span class="me-3">Visa -1234</span> -->
                            <span class="badge rounded-pill bg-info bg-danger text-white"><%=users.status%></span>
                          </div>
                          <div class="d-flex">
                            <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <a class="text" href="">Invoice</a></button>
                            <div class="dropdown">
                              <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots-vertical"></i>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <table class="table table-borderless">
                          <% for(let key of orderdetails.products.item) { %> 
              
                          <tbody>
                            <tr>
                              <td>
                                <div class="d-flex mb-2">
                                  <div class="flex-shrink-0">
                                    <img src="/uploads/<%=key.productId.image[0]%>" alt="" width="70" class="img-fluid">
                                  </div>
                                  <div class="flex-lg-grow-1 ms-3">
                                    <h4 class=" mb-0"><a href="#" class="text-reset"><%=key.productId.productName%></a></h4>
                                    <span class=""><%=key.productId.productDescription %></span>
                                  </div>
                                </div>
                              </td>
                              <td><%=key.qty%></td>
                              <td class="text-end"><%=key.productId.price%></td>
                            </tr>
                            <% } %>
                            <!-- <tr>
                              <td>
                                <div class="d-flex mb-2">
                                  <div class="flex-shrink-0">
                                    <img src="https://www.bootdey.com/image/280x280/FF69B4/000000" alt="" width="35" class="img-fluid">
                                  </div>
                                  <div class="flex-lg-grow-1 ms-3">
                                    <h6 class="small mb-0"><a href="#" class="text-reset">Smartwatch IP68 Waterproof GPS and Bluetooth Support</a></h6>
                                    <span class="small">Color: White</span>
                                  </div>
                                </div>
                              </td>
                              <td>1</td>
                              <td class="text-end">$79.99</td>
                            </tr> -->
                          </tbody>
                          <tfoot>
                            <tr class="fw-bold">
                              <td colspan="2">TOTAL</td>
                              <td class="text-end"><%=orderdetails.products.totalPrice%></td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                    <!-- Payment -->
                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-6">
                            <h3 class="h6 text-dark">Payment Method</h3>
                            <p><%=orderdetails.payment%> <br>
                            Total:<%=orderdetails.products.totalPrice%> <span class="badge bg-success rounded-pill text">PAID</span></p>
                          </div>
                          <div class="col-lg-6">
                            <h3 class="h6 text-dark">Billing address</h3>
                            <address>
                             
                              <%=users.address.address%><br>
                              <%=users.address.zip%> <br>
                              <%=users.address.mobile%> <br>
            
                             
                              <!-- <abbr title="Phone">P:</abbr>  -->
                            </address>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <!-- Customer Notes -->
                    <div class="card mb-4">
                      <div class="card-body">
                        <h3 class="h6 text-dark">Thanks for your Order,</h3>
                        <p>Your business means the world to us, and we truly appreciate your trust in our 
                          products/services. We have worked hard to ensure that your order was delivered 
                          promptly and met all of your expectations</p>
                      </div>
                    </div>
                    <div class="card mb-4">
                      <!-- Shipping information -->
                      <div class="card-body">
                        <h3 class="h6 text-dark">Shipping Address</h3>
                        <!-- <strong>FedEx</strong> -->
                        <!-- <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span> -->
                        <hr>
                        <!-- <h3 class="h6">Address</h3> -->
                        <address>
                          <strong><%=users.firstname%> <%=users.lastname%></strong><br>
                          <%=users.address.address%><br>
                          Pin:<%=users.address.zip%> <br>
                          Phone:<%=users.address.mobile%>
                          
                        </address>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>



                  <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
              <div class="bg-secondary rounded-top p-4">
                  <div class="row">
                      <div class="col-12 col-sm-6 text-center text-sm-start">
                          &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                      </div>
                      <div class="col-12 col-sm-6 text-center text-sm-end">
                          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                          Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer End -->
      </div>
      <!-- Content End -->


      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/chart/chart.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/tempusdominus/js/moment.min.js"></script>
  <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Template Javascript -->
  <script src="js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
  <script>
      var val
      function block(value) {
        val = value
        console.log(val);
      }
      function save() {
        document.getElementById(val).click()
        console.log(`true${val}`);
    }
        
  </script>
</body>

</html>